.logo img {
    width:350px;
} 

header{
    width: 100%;
    height: 60px;
    background-color: black;
}

header ul {
    list-style-type: none;
    line-height: 60px;
}

header li {
    float: left;
    list-style-type: none;
    padding-right: 50px;
    padding-left: 50px;
        color: white;
}

h1{margin: 0 auto;
   margin-top: 30px;
margin-bottom: 30px;
  border-left: 10px solid black;
border-bottom: 10px solid gray;
}

main{clear: both;
    
}

.main-container{width: 95%;
    margin: auto 0;
    margin-top: 30px;
}

.right{float: left;
    width: 70%;
    height:1200px;
    margin-bottom: 30px;
    
}

.left{float: left;
    width: 30%;
    height: 1200px;
    margin-bottom: 30px;
}

form{height: 500px;
    border: solid 2px lightgray;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{margin: 0 auto;
   margin-top: 10px;
    margin-bottom: 10px;
    border-left: 5px solid red;
}

.submit{width: 70px;
    border: 1px solid lightgray;
    padding: 2px 4px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: solid 2px gray;
}

.kiji{height: auto;
    border: 2px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;    
}


.right h3{
    margin: auto 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid lightgray;
}

.left h3{margin: 0 auto;
margin-top: 30px;
margin-bottom: 10px;
border-bottom: 2px dotted black;
}

.left ul{
    list-style-type: none;
    line-height: 60px;
}

footer{
    clear: both;
    margin-top:60px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 60px;
}












